// Buttons
$btnFontSize: 12px;
$btnDefaultPadding: 20px 36px;

// Buttons default
$defaultBtnBg: #fff;
$defaultBtnBorderColor: #c1defd;
$defaultBtnColor: #1585ff;

// Buttons default hover
$defaultBtnHoverBg: #1585ff; 
$defaultBtnHoverColor: #fff;