// Background Colors
$greybg: #f8f8f8;
$whitebg: #fff;

// Text colors
$defaultTextColor: #999da5;
$defaultDarkColor: #1d2025;
$defaultBlueColor: #1585ff;
$defaultWhiteColor: #ffffff;

// Social-list background color
$facebookBg: #4267b2;
$googlePlusBg: #db4437;
$twitterBg: #1da1f2;

