// Inputs
$inputHeit: 64px; 
$inputBorderColor: #ededed;  
$inputBg: #f9f9f9;
$inputColor: #9da0a4;
$inputFontSize: 14px;
$iputRadius: 3px;
$inputFocusBg: #FFF;

// Labels
$labelsFontSize: 14px;
$labelColor: $defaultDarkColor;

